.App {
  text-align: center;
}

.poisk{
  border:1px solid lightgray;
  border-radius: 50%;
}
.input-poisk{
  outline: none;
  border:none;
  background-color: #FAFBFF;
}
.main{
  background-color: #FAFBFF;
}